@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.MuiInputBase-input {
  background: #121212;
  color: grey;
}

.MuiFormLabel-root{
  color: whitesmoke;
}

.navbar-menu {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.475);
  backdrop-filter: blur(10px);
  height: 50% !important;
  width: 70%;
  z-index: 9999;
  text-align: center;
  border-radius: 50px;
  padding: 20px;
}

.navbar-menu-item{
  font-size: xx-large;
  padding: 10px;
  color: azure;
  margin: 10px;
  font-weight: lighter;
}
