@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.MuiInputBase-input {
  background: #121212;
  color: grey;
}

.MuiFormLabel-root{
  color: whitesmoke;
}